@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    box-sizing:border-box;
}
body{
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    margin:0;
}
.container{
    margin:0 auto;
    max-width:100%;
    width:1000px;
    padding:0 1rem;
}
header{
    background-image: url("car1.jpg");
    background-size:cover;
    background-position:center center;
    color:white;
    flex-direction:column;
    align-items:flex-start;
    display:flex;
    min-height:100vh;

}
.content{
    font-size:2rem;
    margin:auto;
    font-weight:bold;
    color:darkgreen;
}
.content h1{
    color:#00c2ff;
    margin-bottom:0;
    max-width:100%;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:1rem;

}
nav .logo{
    font-size:2rem;
}
nav ul{
    display:flex;
    padding:0;
    list-style-type:none;

}
nav li{
     
}
nav li a{
    color:white;
    padding:1rem;
    text-decoration:none;
}
.selected{
    font-weight:bold;

}

.highlight{
    background-color:#00c2ff;
    color:white;
    padding:1rem;
    text-decoration:none;

}
footer{
    background-color:#000;
    color:#fff;
    paddding:1rem;

}

footer ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    list-style-type:none;
    padding:0;

}
footer strong{
    color:#002cff;

}
.rt{
    text-align:center;
    color:red;
    font-weight:bold;
}
footer p{margin:0;}
@media screen and(max-width:700px){
    .content{
        margin:2rem auto 0;
        font-size:1.4rem;
    }
    nav ul{
        flex-direction:column;
    }
    nav li:not(:last-child){
        margin-bottom:1rem;
          
    }
    nav .highlight{
        display:none;
    }
    footer ul{
        flex-direction:column;
        justify-content:center;

    }
    footer li{
        margin:1rem;
        text-align:center;
    }
}